//================= Header ====================
header(class= "header")
	div(class="container")
		div(class="row")
			div(class="col")
				div(id= "menu-btn", class="btn-bars") #[i(class= "fa-solid fa-bars-staggered")]
				span(class="search-shopping")
					i(class="fa-solid fa-magnifying-glass", id="click-to-search")
			div(class="col")
				a(href="#", class="logo main-logo") 
					img( style={width:'45px', margin:'7px'} src="./assets/img/beach-tree.png", alt="")
					span Travel
			div(class="col")
				div.overlay-box
					nav(class= "navbar")
						div(class="box-bor-bot")
							a(href="#", class="logo") 
								img( style={width:'45px', margin:'7px'} src="./assets/img/beach-tree.png", alt="")
								span Travel
						div(class="box-nav")
							- const $icons = ['fa-house',"fa-gear","fa-paper-plane","fa-earth-americas","fa-user","fa-circle-info"]
							- const $link = ["Home", "Destination", "Services", "Outstanding","Seller", "Guides"];
							- var number = 6;
							- for(let $run = 0; $run < $link.length; $run++)
								|
								| 
								if ($link[$run] == "Home" && $icons[$run] == "fa-house")
									a(href= `#${$link[$run]}` class="active-link") #[i(class=`fa-solid ${$icons[$run]} icons-screen`)] #{$link[$run]} 
								else 
									a(href= `#${$link[$run]}`) #[i(class=`fa-solid ${$icons[$run]} icons-screen`)] #{$link[$run]} 
							span(class="line-item")
							a(href="#") #[i(class="fa-solid fa-cart-shopping")] 
							a(href="#") #[i(class="fa-solid fa-chalkboard-user")]
			div(class="col")
				div(class="parent-box-ip")
					form(action="" method="post") 
						div(class="search-box-inp")
							input(type="text" id="click-to-focus" name="data-travel" placeholder="Search for destination" required)
						button(type="submit") #[i(class="fa-solid fa-magnifying-glass")]

				- var btn = "#book-gorm"
				|
				|
				a(href= btn, class= "btn") #{btn.replace(`${btn}`,"Sign in")}
		
				